{block content}

{include 'include/header.latte'}
{include 'include/intro.latte'}
{include 'include/services.latte'}
{include 'include/package.latte'}
{include 'include/gallery.latte'}
{include 'include/teams.latte'}
{include 'include/testimonials.latte'}
{include 'include/contact.latte'}
{include 'include/footer.latte'}